{% extends 'main.html' %}


{% block content %}

<h1>Comentarios</h1>

<div>

    {% for comentario in comentarios %}

        <div>
            <ul>
                <li>Comentario de <a href="{% url 'profile_user' request.user.id %}">{{comentario.user}}</a>@ hacia la tarea: {{comentario.tarea}}</li>
                <li>Contenido: {{comentario.cuerpo}}</li>
                <li>Creado: hace {{comentario.created|timesince}}</li>
                {% if comentario.user == request.user %}
                <a href="{% url 'comentario_update' comentario.id %}">Editar</a>
                <a href="{% url 'comentario_delete' comentario.id %}">Eliminar</a>
                {% endif %}

            </ul>
        </div>
    {% endfor %}

    <a href="{% url 'create_comentario' %}">Crear Comentario</a>
</div>


{% endblock content %}
