{% extends "main.html" %}

{% block content %}

<div>


    {% if page != 'update'%}

    {% if error %}

        {{error}}

    {% endif %}
    <form method = 'POST' action="">
    {% csrf_token %}

    {{form.as_p}}

    <input type="submit" value = 'Crear' />

    </form>

    <a href="{{ request.META.HTTP_REFERER }}">Volver</a>

</div>


    {% else %}

<div>

    <form method = 'POST' action="">
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value = 'Actualizar' />

    </form>

    <a href="{{ request.META.HTTP_REFERER }}">Volver</a>

    {% endif %}
</div>


{% endblock content %}
