{% extends 'main.html' %}

{% block content %}

<div>
    <div>

        {% if page == 'login' %}
        
        <h1>Login</h1>

        <form method = 'POST' action="" >
            {% csrf_token %}

            <label>Nombre:</label>
            <input type = 'text' name = 'username' placeholder= "Escriba su nombre"/>

            <label>Contraseña:</label>
            <input type = 'password' name = 'password' placeholder= "Escriba su contraseña"/>


            <input type = 'submit' value = 'login'/>
            </form>

            <p>Aun no te has registrado?</p>
            <a href="{% url 'register_user' %}">Register</a>

    </div>
        {% else %}

    <div>

        <h1> Register</h1>
        <form method = 'POST' action="">
            {% csrf_token %}
            {{form.as_p}}


            <input type="submit" value = 'Confirm' />

        </form>
    </div>

    {% endif %}
</div>

{% endblock content %}