{% extends 'main.html' %}


{% block content %}

<h1>Usuario {{user.username}}</h1>


<div>
    <ul>
        <li>Numero: {{perfil.numero}}</li>
        <li>Email: {{perfil.email}}</li>
        <li>Rol: {{perfil.rol}}</li>
        <li>Pais: {{perfil.pais}}</li>
        <li>Numero de equipos a los q pertenece: {{equipos_count}}</li>
        <li>Numero de tareas Completadas: {{tareas_realizadas}}</li>
    </ul>

    <a href="{% url 'actualizar_profile' perfil.id %}">Editar Perfil</a>
</div>

{% endblock content %}