{% extends 'main.html' %}

{% block content %}

<h1>Proyecto: {{proyecto.name}}</h1>

<div>
    <div>
        <h3>Tutor:<a href="{% url 'profile_user' proyecto.tutor.id %}">{{proyecto.tutor}}</a></h3>
    
        <p>Equipo al que pertenece: {{proyecto.equipo}}</p>
        <p>Tipo de proyecto: {{proyecto.tipo}}</p>
        <p>Creado: hace {{proyecto.created|timesince}}</p>
        
        {% if proyecto.tutor == request.user %}

            <a href="{% url 'proyecto_update' proyecto.id %}">Editar</a>
            <a href="{% url 'proyecto_delete' proyecto.id %}">Eliminar</a>
        
        {% endif %}

    </div>

</div>


{% endblock content %}
