{% extends "main.html" %}

{% block content %}

<h1>Mis Tareas</h1>

<div>

    {% if tareas_pendientes %}
    <h3>Tareas pendientes</h3>
    {% for tarea in tareas_pendientes %}
        
        <ul> 
            <li><a href = '{% url 'tarea_detail' tarea.id %}'><p>{{tarea}}</p></a></li>
        </ul>

    {% endfor %}

    {% endif %}

    {% if tareas_completadas %}
    <h3>Tareas completadas</h3>

    {% for tarea in tareas_completadas %}
        
        <ul> 
            <li><a href = '{% url 'tarea_detail' tarea.id %}'><p>{{tarea}}</p></a></li>
        </ul>

    {% endfor %}

    {% endif %}

    {% if tareas_en_progreso%}

    <h3>Tareas en progreso</h3>

    {% for tarea in tareas_en_progreso %}
        
        <ul> 
            <li><a href = '{% url 'tarea_detail' tarea.id %}'><p>{{tarea}}</p></a></li>
        </ul>

    {% endfor %}   
    
    {% endif %}


    {% if tareas_pausadas %}
    <h3>Tareas pausadas</h3>


    {% for tarea in tareas_pausadas %}
        
        <ul> 
            <li><a href = '{% url 'tarea_detail' tarea.id %}'><p>{{tarea}}</p></a></li>
        </ul>

    {% endfor %}    
    {% endif %}


    <a href="{% url 'create_tarea' %}">Crear Tarea</a>

</div>

{% endblock content %}
