{% extends 'main.html' %}


{% block content %}

<h1>Tarea {{tarea.id}}</h1>

<div>
    
    {% if tarea.asignado_a != null %}
    <p>Usuario asignado: <a href="{% url 'profile_user' tarea.asignado_a.id %}">{{tarea.asignado_a}}</a></p>
    {% endif %}
    <p>Contenido: {{tarea.contenido}}</p>
    <p>Proyecto asignado: {{tarea.proyecto.name}}</p>
    <p>Estado: {{tarea.estado}}</p>
    <p>Creado: hace {{tarea.created|timesince}}</p>
    <P>Vence: {{tarea.fecha_limite}}</P>

    {% if tarea.asignado_a == request.user %}
        <a href="{% url 'tarea_update' tarea.id %}">Editar</a>
        <a href="{% url 'tarea_delete' tarea.id %}">Eliminar</a>
    {% endif %}
     

</div>

{% endblock content %}

